<div class="view-content settings-view">
    <h1 class="view-title">Configuración</h1>
    <div class="settings-grid">
        <div class="setting-section">
            <h3>Método de Enfoque</h3>
            <select id="method-select">
                <option value="pomodoro">Pomodoro (25/5)</option>
                <option value="rule5217">Regla 52-17</option>
                <option value="method9030">Método 90/30</option>
                <option value="method4515">Método 45/15</option>
                <option value="deepWork">Foco Profundo (120/30)</option>
                <option value="custom">Personalizado</option>
            </select>
             <div id="custom-time-inputs" class="hidden">
                <input type="number" id="work-time-input" placeholder="Trabajo (min)">
                <input type="number" id="rest-time-input" placeholder="Descanso (min)">
            </div>
        </div>
        <div class="setting-section">
            <h3>Bloqueador de Sitios</h3>
            <p class="setting-description">Añade un sitio por línea (ej: youtube.com)</p>
            <textarea id="blocklist-textarea" rows="4"></textarea>
            <button id="save-blocklist-btn">Guardar Sitios</button>
        </div>
    </div>
</div>